<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666620501692-622e5rgi98088bhl0emg3vm1h1j03lco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666620501692-622e5rgi98088bhl0emg3vm1h1j03lco</string>
	<key>API_KEY</key>
	<string>AIzaSyCURkseHd2CSwXpnlS5sh-7P0IE52yYDDo</string>
	<key>GCM_SENDER_ID</key>
	<string>666620501692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarmady.filbalad</string>
	<key>PROJECT_ID</key>
	<string>cinema-guide-8d062</string>
	<key>STORAGE_BUCKET</key>
	<string>cinema-guide-8d062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666620501692:ios:01654db07a4e7024</string>
	<key>DATABASE_URL</key>
	<string>https://cinema-guide-8d062.firebaseio.com</string>
</dict>
</plist>